@tailwind base;
@tailwind components;

#hero {
  background-image: url('https://images.unsplash.com/photo-1422190441165-ec2956dc9ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');
  max-width:1600px; 
  height: 32rem;
}

#product-image {
 

}

@tailwind utilities;