@tailwind base;
@tailwind components;

#hero {
  background-image: url('../public/images/hero.jpg');
  height: 24rem;
}

#cart-div {
  width: 300px;
}

#closeXsearch {
  padding-left: 6px;

}

#close-cart-p {
  margin-top: 2px;
}

#mobile-search-close-p {
  margin-top: -20px;
}

.ais-SearchBox-submitIcon {
	margin-left: 100px;
}

/* Fix for annoying CSS bug with NavBar moving slightly on front page only */
/*@media only screen and (min-width: 769px) {*/

@media only screen and (min-width: 1600px) {
  #navbar-div {
    margin-left: 330px;
  }
}

@media only screen and (max-width: 769px) {
  #navbar-div {
    margin-left: auto;
    margin-right: auto;
  }
}
/* End fix */

.ais-SearchBox-reset {
  margin-left: 10px;
}

@tailwind utilities;
