@tailwind base;
@tailwind components;

#hero {
  background-image: url('https://images.unsplash.com/photo-1422190441165-ec2956dc9ecc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  max-width: 1050px;
  height: 24rem; 
}

#mobile-menu {
  height: 300px; 
}

#cart-div {
  width: 300px;
}

#close-cart-p {
  margin-top:2px;
}

#mobile-search-close-p {
  margin-top:-20px;
}

#product-container {
  max-width: 1100px;
}



.ais-SearchBox-reset {
	margin-left: 10px;
}

@tailwind utilities;